table {
  width: 100%;
  padding: 2rem;
}
button {
  margin: 20px;
  width: 150px;
  height: 55px;
  background-color: rgb(78, 63, 92);
  color: white;
  border-radius: 20px;
  font-size: 20px;
  align-items: center;
}

#buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.mat-column-name,
.mat-column-email {
  width: 40%;
}
