/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-dialog-container {
  background-color: #2e2137;
  border-radius: 30px !important;
  border: 2px black solid;
}

.mat-tab-label .mat-tab-label-content {
  font-size: 23px;
}
